*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body{
    font-family: "Source Serif 4", serif;
    font-weight: 400;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
}

@media (max-width: 1000px){
    section{
        padding: 100px 50px;
    }
}

@media (max-width: 600px){
    section{
        padding: 125px 30px;
    }
}

.top{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #EEEBE3;
    text-align: center;
}

.top video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.top h1{
    margin-bottom: 25px;
    font-size: 65px;
    font-weight: 400;
    color: #EEEBE3;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    font-family: "DM Serif Display", serif;
}
.top p{
    font-family: "Source Serif 4", serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    color: #EEEBE3;
}
.top a{
    text-decoration: none;
    display: inline-block;
    color: #EEEBE3;
    font-size: 20px;
    border: 2px solid #EEEBE3;
    padding: 15px 35px;
    border-radius: 50px;
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 500;
    transition: 0.3s;
}
.top a:hover{
    background-color: #EEEBE3;
    color: #222222;
}

.mid{
    background-color: black;
    background-position: center;
    background-size: cover;
    height: 461px;
    width: 100%;
    position: relative;
}

#content {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 100px;
    position: relative;
    z-index: 5;
}

.quote-wrapper {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-wrapper p {
    text-align: center;
    line-height: 2;
    color: #EEEBE3;
    font-family: "Source Serif 4", serif;
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
}

.message {
    background-color: #EEEBE3;
    min-height: 633px; max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
    padding: 80px;
}

.message h3 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 30px;
}

.message p {
    line-height: 27px;
    margin-top: 10px;
    text-align: justify;
    font-size: 18px;
    color: #222222;
}

.message blockquote {
    margin: 30px 0;
    padding-left: 30px;
    border-left: #d7c8b5 solid 6px;
}

.buttons {
    display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 30px;
}

.buttons .yes {
    color: #222222;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid #222222;
    padding: 15px 35px;
    border-radius: 50px;
    margin: 20px;
    transition: 0.3s;
}

.buttons .yes:hover{
    background-color: #222222;
    color: #EEEBE3;
}

.buttons .no {
    color: #222222;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid #222222;
    padding: 15px 35px;
    border-radius: 50px;
    margin: 20px;
    transition: 0.3s;
}

.buttons .no:hover{
    background-color: #222222;
    color: #EEEBE3;
}

@media (max-width: 800px){
    .top{
        min-height: 600px;
    }
    .top h1{
        font-size: 32px; 
        margin-bottom: 15px;  
    }
    .top p{
        font-size: 10px; 
    }
    .top a{
        padding: 10px 25px;
        font-size: 14px;
    }
    .quote-wrapper p {
        font-size: 12px;
    }
}
