*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

html {
    scroll-behavior: smooth;
  }

body{
    font-family: "Georgia", serif;
    font-weight: 400;
    background-color: #2C1642;

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
}

@media (max-width: 1000px){
    section{
        padding: 100px 50px;
    }
}

@media (max-width: 600px){
    section{
        padding: 125px 30px;
    }
}

.top{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #2C1642;
    text-align: center;
}

.top video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.top h1{
    margin-bottom: 25px;
    font-size: 65px;
    font-weight: 400;
    color: #2C1642;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    font-family: "DM Serif Display", serif;
}
.top p{
    font-family: "Source Serif 4", serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    color: #2C1642;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.top a{
    text-decoration: none;
    display: inline-block;
    color: #2C1642;
    font-size: 20px;
    border: 2px solid #EEEBE3;
    padding: 15px 35px;
    border-radius: 50px;
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 500;
    transition: 0.3s;
}
.top a:hover{
    background-color: #2C1642;
    color: #2C1642;
}

.mid{
    background-color: black;
    background-position: center;
    background-size: cover;
    height: 461px;
    width: 100%;
    position: relative;
}

#content {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 100px;
    position: relative;
    z-index: 5;
}

.quote-wrapper {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-wrapper p {
    text-align: center;
    line-height: 2;
    color: #2C1642;
    font-family: "Source Serif 4", serif;
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
}

.message {
    background-color: #2C1642;
    min-height: 633px; max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 80px;
}

.message h3 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 30px;
}

.message p {
    line-height: 27px;
    margin-top: 10px;
    text-align: justify;
    font-size: 18px;
    color: #2C1642;
}

.message blockquote {
    margin: 30px 0;
    padding-left: 30px;
    border-left: #2C1642; solid 6px;
}

.buttons {
	margin: 6em auto;
	max-width: 600px;
	text-align: center;
}

.buttons em {
	font-family: Georgia, Times New Roman, serif;
	display: inline-block;
	background-color: #2C1642;
	color: #2C1642;
	width: 4.5em;
	height: 4.5em;
	padding: 1.5em;
	border-radius: 50%;
	position: relative;
	z-index: 2;
	margin: -1.5em -1em;
}

.butt {
	padding: 1em 3em;
	background-color: #2C1642;
	border-radius: 4px;
	color: #222;
	text-decoration: none;
	font-weight: 700;
	font-size: .80em;
	line-height: 2;
	display: inline-block;
	letter-spacing: .1em;
    font-family: "Georgia", serif;
    font-weight: 500;
    cursor: pointer;
}

.buttons .butt {
	min-width: 245px;
}

	.primary.butt {
		background-color: #2C1642;
		color: #eeebe3;
	}

		.primary.butt:hover {
			background-color: #434343;
		}

	.secondary.butt {
		background-color: #222222;
		color: #eeebe3;
	}

		.secondary.butt:hover {
			background-color: #2C1642;
		}
    
    .bottom {
        height: 777px;
        width: 100%;
        position: relative;
    }

.bottom {
	color: #E4CCFC;
        height: 777px;
        width: 100%;
        position: relative;
    }

#playlist-tape {
color: #2C1642;
    position: relative;
    align-items: center;
    justify-content: center;
}

#playlist-tape h1 {
    text-align: center;
    position: relative;
    padding-top: 1260px;
    font-size: 35px;
    color: #2C1642;
}

#playlist-tape p {
    text-align: center;
    position: relative;
    padding-top: 20px;
    font-size: 18px;
    color: #2C1642;
}

.tape-casette {
    display: flex;
    justify-content: center;    
}

.tape-casette img {
    margin-top: 20px;
    pointer-events: ease in;
    transition-duration: .3s;
    cursor: pointer;
}
.tape-casette:hover img {
    -webkit-filter: drop-shadow(0 10px 10px  rgba(32, 32, 32, 0.7));
    filter: drop-shadow(0 10px 10px rgba(32, 32, 32, 0.7));
}

.footer {
	color: #2C1642;
    padding-top: 50px; padding-bottom: 30px;
}

@media (max-width: 800px){
    .top{
        min-height: 600px;
    }
    .top h1{
        font-size: 32px; 
        margin-bottom: 15px;  
    }
    .top p{
        font-size: 10px; 
    }
    .top a{
        padding: 10px 25px;
        font-size: 14px;
    }
    .quote-wrapper p {
        font-size: 12px;
    }

    #content {
        padding-top: 60px;
    }

    .message {
        padding: 30px;
    }
    .message p {
        font-size: 12px;
        line-height: 18px;
    }
    .message h3 {
        margin-bottom: 14px;
    }

    .message blockquote {
        margin: 5px 0;
        border-left: #222 solid 4px;
        padding-left: 15px;
    }

    .buttons {
        margin: 1.5em auto;
        padding: 20px;
    }

    .buttons em {
        display: none;
    }

    .butt {
        padding: 12px;
        width: 25%;
        display: block;
        margin-top: 10px;
        font-size: 10px;
    }

    .primary.butt{
        margin-top: 0;
    }

}

@media (max-width: 1024px) {
    #playlist-tape h1 {
        padding-top: 1500px;
    }
}
